{% extends "base_generic.html" %}

{% block content %}
    <div class="row">
            {% for profile in object_list %}
                <div class="col s12 m6 xl4" >
                  <div class="card medium">
                    <div class="card-image">
                      <img src="https://robohash.org/{{ profile.pk }}.png?size=192x192" />
                      <span class="card-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                    </div>
                    <div class="card-content">
                      <p>{{ profile.bio }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'profile-detail' profile.pk %}">Detailed Profile</a>
                    </div>
                  </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}