<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block document_title %}Global Network Network{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<nav class="blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{% url 'index' %}" class="brand-logo">
            {% block page_title %}Global Network Network{% endblock %}
        </a>
    </div>
</nav>

<div class="container">
    {% block content %} {% endblock %}
</div>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>